
.icon-ahrefs-site:before { content: '\e800'; } /* '' */
.icon-ahrefs-rank:before { content: '\e801'; } /* '' */
.icon-ahrefs-content:before { content: '\e802'; } /* '' */
.icon-responsinator:before { content: '\e803'; } /* '' */
.icon-whois:before { content: '\e804'; } /* '' */
.icon-instagram-follow-all:before { content: '\e805'; } /* '' */
.icon-instagram-like-all:before { content: '\e806'; } /* '' */
.icon-audit-img:before { content: '\e807'; } /* '' */
.icon-audit-snippet:before { content: '\e808'; } /* '' */
.icon-wayback:before { content: '\f19c'; } /* '' */